.card {
  // perspective always goes on the parent element - makes it look like it is moving towards you
  // the lower the perspective value, the more dramatic/big the effect
  perspective: 150rem;
  // for firefox
  -moz-perspective: 150rem;
  position: relative;
  // to fix card not having any height give same height as each side - fixes perspective issue
  height: 50rem;

  &__side {
    color: #fff;
    font-size: 2rem;

    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px;
    // image overflows the corners - use this to hide the overflow of the image on the corners
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    // hide the back part of the element when they get flipped
    backface-visibility: hidden;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }

  // want the card to flip when hovered
  // when you hover the CARD, you want the SIDE to transform
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;

    // to blend background images
    background-blend-mode: screen;

    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      // remember that this will be compiled later - so from style.css, it is 1 level up
      // can add multiple background images to blend
      background-image: url(../img/nat-5.jpg),
        linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
    }
  }
}
