.card {
  // perspective always goes on the parent element - makes it look like it is moving towards you
  // the lower the perspective value, the more dramatic/big the effect
  perspective: 150rem;
  // for firefox
  -moz-perspective: 150rem;

  &__side {
    background-color: orangered;
    color: #fff;
    font-size: 2rem;
    height: 50rem;
    transition: all 0.8s;

    &--front {
      background-color: orangered;
    }

    &--back {
      background-color: green;
      transform: rotateY(180deg);
    }
  }

  // want the card to flip when hovered
  // when you hover the CARD, you want the SIDE to transform
  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
