.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;

  // hide popup to start
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  // graceful degradation using a feature query
  @supports (backdrop-filter: blur(10px)) or
    (-webkit-backdrop-filter: blur(10px)) {
    background-color: rgba($color-black, 0.3);
  }

  &__content {
    @include absCenter;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;

    // use display table-cell so that they are the same height
    display: table;

    overflow: hidden;

    // make it smaller at first so that when you click the popup, you can zoom in on it
    // even though translate(-50, -50) was already defined in mixin, we need to re-write it here if we want to use scale
    // can only have 1 transform - would override the previous one
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s 0.2s;
  }

  &__left {
    width: 33.33333333%;
    display: table-cell;
  }

  &__right {
    width: 66.66666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    // space between the columns
    // default is 1em (14 px - font size)
    column-gap: 4rem;
    // to add a line between the columns
    column-rule: 1px solid $color-grey-light-2;

    // can be set to manual/none/auto
    // requires html lang to be set to work
    hyphens: auto;
  }

  // target of the button click
  &:target {
    opacity: 1;
    visibility: visible;
  }

  // when the target changes to the popup - change the content styling
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
