/* css basic reset - universal selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* set root font size - browser default font size is 16px */
html {
  font-size: 62.5%;
}

/* project-wide font definitions */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;

  /* box-sizing normally isn't inerited - force inherit with inherit in * */
  box-sizing: border-box;
}
