/* css basic reset - universal selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* set root font size - browser default font size is 16px */
html {
  font-size: 62.5%;
}

body {
  /* box-sizing normally isn't inerited - force inherit with inherit in * */
  box-sizing: border-box;
}
