/* project-wide font definitions */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* to fix shaking in animation of header text */
  backface-visibility: hidden;

  margin-bottom: 6rem;

  /* change the 2 span elements to use block - occupies 100% of width & forces new line */
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /* 
    animation-delay: 3s; - delay before animation starts
    animation-iteration-count: 3; - how many times the animation occurs
    animation-timing-function: ease-out - starts fast, then eases at the end
    */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    /* can declare everything in one line instead of writing them out as in main */
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;

  // for text colour gradient - set it as the background gradient
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );

  // clips the background exactly to where the text is
  -webkit-background-clip: text;
  background-clip: text;

  // text colour transparent so you can see the bg colour (gradient)
  color: transparent;

  letter-spacing: 0.2rem;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
